@font-face {
  font-family: "Arial Blck";
  src: url("fonts/arial_black.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.all {
  display: flex;
  flex-direction: column;
}

.header-links {
  font-weight: bold;
  font-size: calc(3px + 1vw);
  padding-top: 35px;
  padding-bottom: 30px;
  padding-left: 12.5vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-decoration: none;
  text-align: center;
}

.header {
  top: 0;
  position: fixed;
  background-color: #46164a;
  width: 100%;
}

.header-logo {
  background-color: white;
  border: 4px solid white;
  border-radius: 200px;
  z-index: 2;
  position: fixed;
  margin-left: 2vw;
  margin-top: calc(100px - 5vw);
  width: 9vw;
  height: 9vw;
}

.logo {
  width: 9vw;
  height: 9vw;
}

.header-link,
.about-header-link,
.rules-header-link,
.licenses-header-link,
.other-header-link,
.search-header-link {
  text-decoration: none;
  color: white;
  margin-top: -5px;
}

.about-header-link:hover,
.rules-header-link:hover,
.licenses-header-link:hover,
.other-header-link:hover,
.header-link:hover {
  color: #e0b8e0;
}

.search-header-link {
  display: flex;
  flex-direction: row;
}

.magglass {
  background-color: gray;
  border: 4px solid gray;
  border-radius: 100px;
  width: 1.8vw;
  height: 1.8vw;
  margin-left: 20px;
  display: flex;
}

.magglass:hover {
  background-color: rgb(110, 110, 110);
  border: 4px solid rgb(110, 110, 110);
}

.glass {
  width: 100%;
  height: 100%;
  object-fit: contain;
  flex-grow: 1;
}

.content {
  padding-left: 15vw;
  display: grid;
  grid-template-columns: 1fr 0.001fr 0.6fr;
  height: 100vh;
  overflow-y: hidden;
}

.left {
  padding-top: 110px;
  overflow-y: scroll;
  height: 84vh;
  padding-right: 40px;
}

h1,
h3 {
  font-family: Arial Blck;
  scroll-margin-top: calc(180px);
}

h1 {
  font-size: 1.7em;
}

h2 {
  padding-top: 10px;
  margin-bottom: 0px;
  font-family: Arial Blck;
  color: #46164a;
  scroll-margin-top: calc(110px);
  font-size: 1.3em;
}

p,
li {
  line-height: 150%;
}

.link {
  text-decoration: none;
  color: #883f8f;
  font-weight: bold;
}

.link:hover {
  color: #46164a;
}

.toc {
  font-weight: bold;
}
.toc-link {
  text-decoration: none;
  color: black;
  font-size: large;
  padding-top: 10px;
}

.bar {
  border-left: 2px solid rgb(154, 154, 154);
  overflow-y: hidden;
  height: 100vh;
  z-index: -1;
}

.right {
  padding-top: 130px;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}

.office {
  border: 4px solid #46164a;
  border-radius: 20px;
  margin-left: 2.5vw;
  margin-right: 20px;
  object-fit: contain;
  width: 80%;
}

.bubble {
  margin-left: 2.5vw;
  margin-top: 20px;
  background-color: #f4eef4;
  border-radius: 20px;
  width: 82%;
  height: calc(73vh - 10vw - 2vh);
  overflow-y: scroll;
}

.bubble-text {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 2vw;
}

.bubble-header {
  padding-left: 2.5vw;
  font-size: calc(7px + 1vw);
}

.bubble-list {
  padding-left: 4vw;
  font-size: calc(2.5px + 0.4vw + 1vh);
}

.about-dropdown,
.rules-dropdown,
.licenses-dropdown,
.other-dropdown {
  display: none;
  position: absolute;
  flex-direction: column;
  z-index: 3;
  background-color: #f4eef4;
  padding: 25px;
  border-radius: 20px;
  text-align: left;
  line-height: 200%;
}

.about-btn:hover .about-dropdown,
.about-btn:focus-within .about-dropdown {
  display: flex;
}

.rules-btn:hover .rules-dropdown,
.rules-btn:focus-within .rules-dropdown {
  display: flex;
}

.licenses-btn:hover .licenses-dropdown,
.licenses-btn:focus-within .licenses-dropdown {
  display: flex;
}

.other-btn:hover .other-dropdown,
.other-btn:focus-within .other-dropdown {
  display: flex;
}

.dropdown-link {
  text-decoration: none;
  color: black;
}

.dropdown-link:hover {
  color: #5b295f;
}

.mob-header {
  display: none;
}

.info-modal,
.burger-modal {
  display: none;
  position: fixed;
  background-color: #f4eef4;
  z-index: 4;
  width: 94vw;
  margin-left: 3vw;
  margin-top: 3vh;
  border-radius: 20px;
}

.info-ex,
.burger-ex {
  position: absolute;
  right: 3vw;
  top: 3vw;
  width: 7vw;
  height: 7vw;
}

input {
  border-radius: 10px;
  padding: 5px;
}

/* TABLET / PHONE */

@media only screen and (max-width: 800px) {
  .header-links,
  .right,
  .bar,
  .header-logo {
    display: none;
  }
  .content {
    padding-left: 5vw;
    display: grid;
    grid-template-columns: 1fr 0fr 0fr;
  }
  .left {
    padding-top: calc(7vh + 8vw);
    height: 90vh;
  }
  h1 {
    font-size: 1.5em;
  }
  h2 {
    font-size: 1em;
  }
  h3 {
    font-size: 0.75em;
  }
  p {
    font-size: 0.8em;
  }
  li,
  .toc-link {
    font-size: 1em;
  }
  .mob-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .mob-info-burger {
    justify-self: end;
    margin-top: 1vw;
  }
  .mob-logo,
  .mob-info,
  .mob-burg {
    width: 8vw;
    height: 8vw;
    margin: 2vw;
  }
  .mob-logo {
    background-color: white;
    border: 4px solid white;
    border-radius: 200px;
  }
  .info-txt li {
    margin-top: 3vh;
    font-size: 1.1em;
  }
  .info-txt h1 {
    margin: 4vh;
    margin-right: 10vw;
  }
  .info-txt {
    margin: 4vw;
    margin-bottom: 7vh;
  }
  .burger-txt {
    margin: 4vh;
    margin-bottom: 3vh;
    max-height: 80vh;
    overflow-y: scroll;
    width: 85%;
  }
  .big {
    display: flex;
    flex-direction: column;
    margin-bottom: 1vh;
    margin-top: 1vh;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-family: Arial Blck;
  }
  .small {
    margin-left: 3vw;
    margin-top: 1vh;
    text-decoration: none;
    color: #5b295f;
    font-family: Arial;
  }
  .bigsmall {
    text-decoration: none;
    color: #5b295f;
    font-weight: bold;
  }
  .scroll-aff {
    width: 100%;
    align-items: center;
    padding-bottom: 2vh;
  }
  .scroll {
    padding-left: 46%;
    width: 8%;
  }
  .search-header-link {
    margin-top: 5px;
    padding-bottom: 10px;
    width: 50vw;
  }
  input {
    width: 35vw;
  }
  .magglass {
    width: 3.5vw;
    height: 3.5vw;
  }
}

@media only screen and (max-width: 400px) {
  .info-txt h1 {
    font-size: 1.2em;
  }
}

/* LARGE SCREEN */
@media only screen and (min-width: 1800px) {
  .header-logo {
    margin-top: calc(30px + 1vw);
    width: 7vw;
    height: 7vw;
  }
  .logo {
    width: 7vw;
    height: 7vw;
  }
  .header-links {
    padding-top: 45px;
    padding-bottom: 40px;
  }
  .left {
    padding-top: 170px;
  }
  .right {
    padding-top: 200px;
  }
  .bubble {
    margin-top: 60px;
  }
  h1 {
    font-size: 2.5em;
  }
  h2 {
    font-size: 2em;
  }
  h3 {
    font-size: 1.5em;
  }
  p,
  .toc-link,
  li {
    font-size: 1.3em;
  }
}
